.pagination_block {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 20px 0 20px 0;

}
.pagination_element {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgba(35, 37, 43, 0.8);
    float: left;
    font-size: 18px;
    width: 36px;
    text-align: center;
    height: 35px;
    padding: 6px;
    border: 1px solid rgba(70, 128, 255, 0.35);
}

.active_page_pagination {
    background-color: #4680ff;
    color: #ffffff;
    border: 1px solid #4680ff;
}
.not_active_page_pagination  {
    background-color: #ffffff;
}

.first_element {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.last_element {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}