.activity_page {
    display: grid;
    grid-template-columns: 15% 85%;
}
.activity_page_elements {
    width: 100%;
    padding:  30% 0 0 5%;
}
.sub_elements {
    width: 100%;
}
.list_of_elements {
    margin: 25px 0 20px 0;
}
.nav_element {
    text-decoration: none;
}
.element_list {
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #393b40;
}
.element_list:hover {
    color: #5a8de1;
}
.tags_user_activity {
    font-size: 12px;
}