.first_block_user_question {
    display: grid;
    grid-template-rows: 40px 40px auto;
    margin: 20px;
    padding: 10px;
    width: 100%;
    align-items: center;
}
.questions_content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    align-items: center;
}

.questions_description_title {
    font-size: 20px;
    font-weight: bold;
    color: #0f1b33;
    text-align: center;
}
.questions_description_score {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.margin {
    margin: 5px;
}
.score {
    color: rgba(35, 37, 43, 0.8);
    position: relative;
    float: left;
}
.date {
    color: rgba(35, 37, 43, 0.8);
    position: relative;
    float: right;
}
.questions_content_body {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.questions_content_votes {
    height: 200px;
    margin-top: 15px;
    width: 8%;
    text-align: center;
    padding: 30px 0 30px 0;
}
.arrowIcon {
    font-size: 30px;
    color: #4680ff;
}
.iconUp {
    margin-bottom: 20px;
}
.iconDown {
    margin-top: 20px;
}
.questions_body {
    max-height: 500px;
    width: 85%;
    padding: 20px;
    margin: 20px 20px 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: scroll;
    font-size: 12px;
}
.questions_tags {
    width: 85%;
    display: grid;
    grid-template-rows: 30px 30px;
}
.comments_user_question {
    display: block;
    align-items: center;
}

.show_user_question {
    font-size: 13px;
    font-weight: bold;
    color: rgba(35, 37, 43, 0.8);;
    height: 25px;
}
.general_user_question {
    display: grid;
    grid-template-columns: 97% 3%;
    width: 780px;
    margin-top: 15px;
    padding: 0 10px 0 10px;
}
.show-comments_comments_user_question {
    position: relative;
    float: left;
}
.show-comments_icon_user_question {
    position: relative;
    float: right;
}
.font_size {
    font-size: 20px;
}

.comment_block {
    width: 85%;
    align-items: center;
}
.answers_block {
    width: 90%;
    align-items: center;
    margin-top: 30px;
}
.span_user_question {
    font-weight: bold;
}
.user_question_tags {
    display: flex;
    flex-flow: row;
}
.element_highlight {
    animation: highlight 1s;
    background-color:  #ffffff;
}
@keyframes highlight {
    0% { background-color: #ffffff }
    50% { background-color: rgba(90, 141, 225, 0.45); }
    100% { background-color:  #ffffff}
}
@media only screen and (min-width: 430px) and (max-width: 932px) {
    .first_block_user_question {
        grid-template-rows: 100px 100px auto;
        margin: 5px;
        padding: 2px;
        grid-template-columns: 265px;
        overflow-wrap: break-word;
    }
    .questions_content_body {
        width: 270px;
    }
    .questions_description_title {
        word-wrap: break-word;
    }
    .questions_description_score {
        display: flex;
        flex-flow: column;
    }
    .questions_content {
        display: grid;
    }
    .questions_body {
        max-height: 500px;
        width: 220px;
        padding: 2px;
        margin: 5px 5px 5px 0;
    }
    .questions_content_votes {
        width: 50px;
    }
    .questions_tags {
        grid-template-rows: 30px 150px;
        width: 270px;
    }
    .user_question_tags {
        flex-flow: column;
    }
    .tags_user_question_phone_size {
        width: 140px;
    }
    .comment_block {
        width: 270px;
    }
    .answers_block {
        width: 270px;
    }
}