.answers_content {
    margin-top: 30px;
    float: right;
}
.answers_body {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    background-color: #ffffff;
    overflow: scroll;
    font-size: 10px;
}
.answers_details {
    display: grid;
    grid-template-rows: 10% 60% 30%;
    height: 900px;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    margin-top: 30px;
    overflow-y: scroll;
}
.answers_body_owner {
    float: left;
    display: flex;
    flex-direction: row;
}
.answers_top_description {
    display: grid;
    grid-template-rows: 70% 30%;
    width: 90%;
    overflow: hidden;
    border-bottom: 1px solid rgba(211, 211, 211, 0.26);
}
.answers_profile_image {
    text-align: center;
    font-size: 10px;
    background: #4680ff;
    width: 50px;
    height: 50px;
}

.answer_owner {
    margin: 0 10px 0 0;
    text-align: center;
    font-size: 15px;
    color: rgba(35, 37, 43, 0.8);
}
.answers_description {
    display: grid;
    grid-template-columns: 15% 85%;
    width: 90%;
    /*min-width: 780px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}
.answers_creation_date {
    color: rgba(35, 37, 43, 0.8);
    float: right;
}
.answers_score {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.answers_icon {
    font-weight: bold;
    font-size:30px;
    color: #057c4c;
}
.answers_comment_block {
    float: right;
}
/*.position {*/
/*    position: relative;*/
/*    float: right;*/
/*    min-width: 780px;*/
/*    padding: 5px;*/
/*    margin-top: 15px;*/
/*}*/
.no_answers {
    font-size: 16px;
    font-weight: bold;
    color: rgba(35, 37, 43, 0.2);
    height: 30px;
}
.questions_content_votes_answers {
    margin: 0 0 0 20px ;
    width: 50px;
    align-items: center;
    text-align: center;
}

.arrowIcon_answers {
    font-size: 30px;
    color: #4680ff;
}
.icon_up_answers {
    margin-bottom: 20px;
}
.icon_down_answers {
    margin-top: 20px;
}
.comments_answers_user_page {
    display: flex;
    flex-direction: column;
}
.show_comments_answers {
    border-bottom: 1px solid lightgrey;;
    font-size: 13px;
    font-weight: bold;
    color: rgba(35, 37, 43, 0.8);;
    height: 25px;
}

.general_comments_answers {
    position: relative;
    float: right;
    /*width: 780px;*/
    padding: 5px;
    margin-top: 15px;
}

.show-comments_comments_answers {
    position: relative;
    float: left;
}

.show-comments_icon_answers {
    position: relative;
    float: right;
}
.answers_scroll {
    height: 900px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    margin: 0 auto;
}