.users_description {
    display: flex;
    margin-top: 20px;
    height: 250px;
    border-bottom: 1px solid #ece9e9;
    border-top: 1px solid #ece9e9;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 130px;
    border-right: 2px solid #f4f5fa;
}
.portfolio_image {
    height: 120px;
    width: 120px;
}
.portfolio_default_img {
    height: 120px;
    width: 120px;
    background-color: #4680ff;
    color: white;
    margin-bottom: 10px;
}
.portfolio_reputation_icon {
    width: 20px;
    height: 20px;
    color: #4680ff;
}
.portfolio_reputation {
    font-size: 15px;
}
.bold {
    font-weight: bold;
    color: #4680ff;
}
.user_content {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 20% 50% 30%;
    margin: 5px;
}
.user_content_name {
    color: rgba(35, 37, 43, 0.8);
    font-weight: bold;
    font-size: 17px;
}
.user_content_href {
    text-decoration: none;
    height: 20%;
}
.user_badges {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    text-align: right;
}
.user_badges_element_medal {
    width: 25px;
    height: 25px;
}
.bronze {
    color: #967444;
}
.silver {
    color: #c0c0c0 ;
}
.gold {
    color: #ffd700;
}
.user_location {
    font-size: 15px;
    width: 130px;
    text-wrap: normal;
    font-weight: bold;
    text-align: center;
    border-left: 2px solid #f4f5fa;
}
.specified {
    color: #4680ff;
}
.not_specified {
    color: #c0c0c0;
}
.tu {
    font-size: 14px;
}
.gold_award {
    color: gold;
    font-size: 35px;
    margin: 5px;
}
.silver_award {
    color: silver;
    font-size: 35px;
    margin: 5px;
}
.bronze_award {
    color: #967444;
    font-size: 35px;
    margin: 5px;
}
.user_badges_count {
    font-size: 12px;
}
.user_content_about {
    display: block;
    font-size: 13px;
}
.portfolio_likes {
    margin: 0 auto;
    align-items: center;
}

@media only screen and (min-width: 430px) and (max-width: 932px) {
    .users_description {
        display: grid;
        grid-template-rows: 30% 55% 15%;
        width: 250px;
        align-items: center;
        height: 350px;
    }
    .portfolio {
        width: 100%;
        align-items: center;
        border-right: none;
    }
    .user_content {
        margin-top: 30px;
        width: 200px;
        align-items: center;
        align-content: center;
    }
    .portfolio_image {
        height: 100px;
        width: 100px;
    }
    .portfolio_default_img {
        height: 100px;
        width: 100px;
    }
    .user_content_name {
        font-size: 12px;
    }
    .user_content_about {
        font-size: 10px;
        width: 200px;
    }
    .user_location {
        font-size: 12px;
        margin: 0 auto;
        border-left: none;
    }


}
