.top_user_comments_block {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1.5px solid lightgrey;
    border-right: 1.5px solid lightgrey;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0 20px 0 ;
}
.top_user_comments_block > .top_user_comments_elements_top:first-child {
    border-top: none;
}

.top_user_comments_block > .top_user_comments_elements_top:last-child {
    border-bottom: none;
}

.top_user_comments_elements_top {
    display: grid;
    grid-template-columns: 40px 400px auto;
    padding: 10px;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;
    border-top: 0.5px solid lightgrey;
    margin-left: 10px;
    margin-right: 10px;
}
.rows_comments {
    grid-auto-rows: 70px;
}
.top_user_comments_elements_score {
    margin-right: 10px;
    text-align: center;
    min-width: 30px;
    min-height: 30px;
    color: white;
    background: rgba(47, 49, 56, 0.9);
}
.user_comments_size_text{
    padding: 5px;
    font-size: 12px;
}

@media only screen and (min-width: 430px) and (max-width: 932px) {
    .top_user_comments_block {
        width: 65.5%;
        margin-right: 0;
        align-items: center;
    }
    .top_user_comments_elements_top {
        grid-template-columns: 15% 68% auto;
        padding: 5px ;
        margin-left: 2px;
        margin-right: 2px;
    }
    .user_comments_size_text{
        padding: 10px;
        font-size: 10px;
    }
}