.badges_block {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-flow: row;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 10px;
    width: 230px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.badges {
    margin: 0 auto;
}
.badges_block_awards {
    display: grid;
    grid-template-rows: 50px;
}
.counts_award {
    font-weight: bold;
    font-size: 20px;
    color: #3c3f48;
}
.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
}
@media only screen and (min-width: 430px) and (max-width: 932px) {
    .badges_block {
        width: 105%;
        margin-right: 0;
        align-items: center;
    }
}