.first_block {
    padding: 20px 10px 10px 10px;
    display: grid;
    grid-template-rows: 70px 50px auto;
    margin: 0 auto;
    min-height: 200em;
    width: 90%;
}

.first_block::-webkit-scrollbar {
    display: none;
}

ul {
    padding-inline-start: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header {
    color: #060606;
    font-size: 19px;
    font-weight: 600;
}

.link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 2px;
    margin-top: 7px;
}

.margin {
    margin: 10px;
}

.buttons_block {
    position: relative;
    width: 100%;
    padding: 15px;
    height: 40px;
}

.buttons {
    float: right;
}

.order {
    float: left;
}

.house:before {
    content: "\e87a";
    color: black;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.house {
    font-size: 15px;
    color: #4680ff;
    margin-right: 5px;
}
.tags {
    padding: 2px;
    margin: 2px;
    display: inline-block;
    min-width: 20px;
    font-weight: bold;
    text-align: center;
    color: #5a8de1;
    font-size: 15px;
}
.tags:hover {
    font-size: 17px;
}
@media only screen and (min-width: 430px) and (max-width: 932px) {
    .first_block {
        padding: 2.5% 2% 2.5% 2%;
        grid-template-rows: 0.6% 1% auto;
        align-items: center;
    }
    .buttons_block {
        margin-top: 10px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0;
    }
    .tags_for_phone {
        width: 140px;
    }
}