.first_block {
    padding: 20px;
    display: grid;
    grid-template-rows: 70px 50px auto;
    margin: 0 auto;
    min-height: 200em;
    overflow-y: scroll;
    width: 90%;
}

.first_block::-webkit-scrollbar {
    display: none;
}

ul {
    padding-inline-start: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header {
    color: #060606;
    font-size: 19px;
    font-weight: 600;
}

.link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 2px;
}

.margin {
    margin: 10px;
}

.buttons_block {
    position: relative;
    width: 800px;
    height: 40px;
}

.buttons {
    float: right;
}

.order {
    float: left;
}

.rows {
    margin-top: 20px;
    display: flex;
}

.rows::-webkit-scrollbar {
    width: 0;
}
.house:before {
    content: "\e87a";
    color: black;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.house {
    font-size: 15px;
    color: #4680ff;
    margin-right: 5px;
}