.question_content {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ece9e9;
    border-top: 1px solid #ece9e9;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.block_a {
    width: 100%;
    height: 120px;
}
.block_b {
    width: 100%;
    height: 35px;
}
.question_block {
    margin-top: 20px;
    border: 1px solid lightgrey;
    background-color: #ffffff;
    padding: 5px;
    height: 150px;
}

.answered {
    width: 50px;
    height: 75px;
    padding-top: 45px;
    float: left;
    color: black;
    font-size: 20px;
    text-align: center;
}
.rates {
    float: left;
    width: 140px;
    height: 120px;
    text-align: center;
    margin-right: 10px;
}
.rate {
    font-size: 15px;
    margin-top: 15px;
    color: rgba(35, 37, 43, 0.8);
}
.bold {
    font-weight: bold;
}
.margins {
    margin-left: 10px;
    margin-bottom: 7px;
}
.titles {
    color: rgba(35, 37, 43, 0.8);
    font-weight: bold;
    font-size: 17px;
}

.link_style {
    color: white;
    text-decoration: none;
}
.dates {
    min-width: 100px;
    float: right;
    bottom: 0;
}
.owner_element {
    float: right;
    margin-left: 10px;
    font-size: 15px;
    color: rgba(35, 37, 43, 0.8);
}
.owner {
    float: left;
    margin-left: 15px;
}
.image {
    width: 20px;
    height: 20px;
}
@media only screen and (min-width: 430px) and (max-width: 932px) {
    .question_content {
        padding: 10px;
        width: 250px;
    }
    .block_a {
        height: 350px;
        margin-bottom: 10px;
    }
    .block_b {
        margin-top: 15px;
        height: 70px;
    }
    .owner {
        margin-left: 0;
    }
}