.profile {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: rgba(35, 37, 43, 0.9);
    font-family: Mada,sans-serif;
}
.profile_categories {
    display: flex;
    flex-flow: row;
}

.profile_sections:hover {
    background: lightgrey;
}
.profile_sections_active {
    text-decoration: none;
    width: 100px;
    padding: 5px;
    text-align: center;
    height: 30px;
    margin: 15px;
    color: #ffffff;
    border-radius: 10px;
}
.profile_sections_active.active {
    background: #4680ff;
    border: 1px solid #4680ff;
}

.profile_sections_active.active:hover {
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 1px white, 0 0 0 2px #4680ff;
}

.profile_sections_active.not_active {
    background: #d7d3d3;
    border: 1px solid lightgrey;
}

.profile_sections_active.not_active:hover {
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 1px white, 0 0 0 2px #d7d3d3;
}

@media only screen and (min-width: 430px) and (max-width: 932px) {
    .profile {
        width: 250px;
    }
}